@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';

body {
  background-color: #2196F3; /* Replace with your desired blue color code */
  margin: 0; /* Reset default margin to ensure full coverage */
}

input[type="file"] + label {
    cursor: pointer;
    background-color: white;
    border: 1px solid #e0e0e0;
    padding: 12px;
    text-align: center;
    border-radius: 4px;
  }
  
  input[type="file"] + label:hover {
    background-color: #f0f0f0;
  }
  
  input[type="file"] {
    display: none; /* Hide the default file input */
  }